html, body{
	height: 100%;
}
	
body{
	margin: 0px;
	padding: 0px;
	background: #91aac3;
	font-family: 'Roboto';
	font-size: 12pt;
}
		
h1, h2, h3{
	margin: 0;
	padding: 0;
	color: #404040;
}
	
p, ol, ul{
	margin-top: 0;
}

p {
	line-height: 180%;
}

ol, ul{
	padding: 0;
	list-style: none;
}
	
.container{ 
	/* Set width of container to 
		1200px and align center */
	margin: 200px;
	width: 1800px;
	height: 135px;
}

header{
	
	overflow: hidden;
}

#top-header{
	background: #445f76;
	height: 100px;
	width: 100%;
	text-align: center;

}

#logo{
	float: left;
	padding: none;
	margin: none;
}

#logo img{
	float: left;
} 


#main-header{
	overflow: hidden;
	margin: auto;
    text-align: justify;
    padding-top: 25px;
    font-size: 35px;
    font-family: Cambria;
    color: white;
}

#menu{
	float: right;
    padding-right: 20px;
	width: 40%;
	height: 100%;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	vertical-align: middle;
	padding: none;
	text-decoration: none;
	font-weight: 60;
	text-transform: uppercase;
	line-height: 10px;
}
	
#menu li a{
		
	color: #FFF;
}
	
#menu li:hover a, #menu li span{
	color: #b12414;
	text-decoration: none;
}

#container {
	overflow:hidden;
	width: 100%;
	margin: 0px auto;
	text-align: center;
}


#footer{
    overflow: hidden;
    text-align: center;
	width: 100%;
    margin-top: 50px;
	position: relative;
	bottom: 0px;
}

#footer .copyright{
    overflow: hidden;
    padding: 3em 0em;
    border-top: 20px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    background: #445f76;
}

#footer .copyright p
{
    letter-spacing: 1px;
    font-size: 0.90em;
    color: rgba(255, 255, 255, 0.6);
}