# Environment Variables
.env

# Virtual Environment
spotify_venv

# Jupyter Notebooks
*.ipynb

# __pycache__
__pycache__/

# Notes
notes

# Cache
.cache

# DS_Store
**/.DS_Store

# Node Modules
node_modules

# Flask session
/*_session/