html, body{
	height: 50%;
}
	
body{
	margin: 0px;
	padding: 0px;
	background: black;
	font-family: 'Roboto', sans-serif;
	font-size: 21pt;
}

.container {
    width: fit-content;
    text-align: center;
	padding: 20px;
    margin: auto;
	margin-top: 20%;
    border: 3px solid green;
	border-radius: 2%;
    border-width: 10px;
	color: #ccc
}

#footer{
    overflow: hidden;
    text-align: center;
	width: 100%;
    margin-top: auto;
	bottom: 0px;
	font-size: 0.75em;
}

#footer .copyright{
    overflow: hidden;
    padding: 3em 0em;
    text-align: center;
    background: #000;
}

#footer .copyright p
{
    letter-spacing: 1px;
    color: green;
}

a { color: green } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:green; }
a:hover { text-decoration: none; color:green; }
a:focus { text-decoration: none; color:green; }
a:hover, a:active { text-decoration: none; color:green }