html, body{
	height: 100%;
}
	
body{
	margin: 0px;
	padding: 0px;
	background: #e4ebf2;
	font-family: 'Roboto', sans-serif;
	font-size: 21pt;
}

.container {
    width: fit-content;
    text-align: center;
	padding: 20px;
    margin: auto;
	margin-top: 20%;
    border: 3px solid rgb(182, 175, 175);
	border-radius: 2%;
    border-width: 10px;
}