{% extends 'base.html' %}

{% block content %}
    <main>
        <section >
            <h1 class="title" style="font-size: 30px;">
                About Us
            </h1>
            <div id="about_us">
                <div class="column">

                    <img src="static/images/shelton.png" />
                    <p>
                        Relto is a god. Here is a bunch of text that means absolutely nothing
                        because I need to fill the space. I'm going to start typing in wolof
                        for now apparent reason. Buma amee jot ak wersuk, dinaa cat sama mag bu jigeen
                        bu wesu ndaxte moom dafa jeek kay. Begg naa ko def leegi, waaye menuma ndaxte 
                        moom dafa sore te am na ay galankoor yu bare. Dunu bokk diine te bokkunu xalaat 
                        ngir sunu jeflante. Aduna la, inshallah ci elleg bi.
                    </p>
                </div>
               
                <div class="column">
                    <img src="static/images/shelton.png" />
                    <p>
                        Relto is a dongus. Here is a bunch of text that means absolutely nothing
                        because I need to fill the space. I'm going to start typing in wolof
                        for now apparent reason. Buma amee jot ak wersuk, dinaa cat sama mag bu jigeen
                        bu wesu ndaxte moom dafa jeek kay. Begg naa ko def leegi, waaye menuma ndaxte 
                        moom dafa sore te am na ay galankoor yu bare. Dunu bokk diine te bokkunu xalaat 
                        ngir sunu jeflante. Aduna la, inshallah ci elleg bi.
                    </p>
                </div>
            </div>
        </section>

    </main>
{% endblock %}