{% extends 'base.html' %}

{% block content %}
<main>
    <section >
        <h1 class="title" style="font-size: 30px;">
            About Us
        </h1>
        <div id="about_us">
            <div class="column">

                <img src="static/images/shelton.jpg" />
                <p>
                    Hi! My name is Shelton Carr and I have a passion for data science, machine learning, and music.
                    My friend Evan and I made this website so that you can better understand your music listening habits.
                    Please enjoy and feel free to contact us! 
                </p>
                <a style="text-decoration:none" href="https://www.linkedin.com/in/shelton-carr/" target="_blank" style="display: block; color: #ccc;">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
                <a style="text-decoration:none" href="https://github.com/sheltoncarr" target="_blank" style="display: block; color: #ccc;">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
            
            <div class="column">
                <img src="static/images/evan.jpg" />
                <p>
                    Hey! My name is Evan and I am deeply curious about music and how tech's rise influences our listening
                    habits. Shelton and I built this out of a desire to share the insights that data analytics can 
                    give on something most people do every day. Enjoy!
                </p>
                <a style="text-decoration:none" href="https://www.linkedin.com/in/evan-james-austin/" target="_blank" style="display: block; color: #ccc;">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
                <a style="text-decoration:none" href="https://github.com/muuscodes" target="_blank" style="display: block; color: #ccc;">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}