{% extends 'base.html' %}

{% block content %}
    <main>
        <section>
            <div id="intro">
                <!-- Display heading content -->
                <h1 class="title">
                   Hi {{user_name}}!
                </h1>

                <!-- Used to display paragraph content -->
                <p> 
                    Welcome!
                    Please browse the various buttons to
                    find out more about your music taste!
                    Not your account? Please sign out and sign back in.
                </p>

            </div>
        </section>

        <section>
            <nav>
                <div id="tabs">
                    <ul>
                        <li><a href="/top_artists" target="_self" rel="follow">Top Artists</a></li>
                        <li><a href="/top_tracks" target="_self" rel="follow">Top Tracks</a></li>
                        <!-- <li><a href="/top_genres" target="_self" rel="follow">Top Genres</a></li> -->
                        <li><a href="/top_genres_bar_chart" target="_self" rel="follow">Top Genres Bar Chart</a></li>
                        <!-- <li><a href="/top_years" target="_self" rel="follow">Top Years</a></li> -->
                        <li><a href="/top_years_bar_chart" target="_self" rel="follow">Top Years Bar Chart</a></li>
                        <li><a href="/most_recent_tracks" target="_self" rel="follow">Most Recent Tracks</a></li>
                        <!-- <li><a href="/audio_features" target="_self" rel="follow">Audio Features</a></li> -->
                        <li><a href="/audio_features_trend" target="_self" rel="follow">Audio Features Trend</a></li>
                        <li><a href="/recommendations" target="_self" rel="follow">Recommendations</a></li>
                        <li><a href="/popularity" target="_self" rel="follow">Popularity</a></li>
                    </ul>
                </div>
            </nav>


        </section>

        <section>
            <!-- <h3>{{dataEvent}}</h3> -->


            <div id="data">
                <h3>{{dataEvent}}</h3>
                <body>
                    <img src="static/images/audio_feature_trend.png" alt="Image Placeholder" height=800 width=750 style="padding: 20px;">
                </body>
                {% for table in tables %}
                    <div class="table-container" data-table="{{ table['id'] }}">
                        <p>{{ table['title'] }}</p>
                        <div class="table">{{ table['data'].to_html(classes='data table-row', justify='center', render_links=True, escape=False)|safe }}</div>
                    </div>
                {% endfor %}
            </div>
            
        </section>

    </main>
{% endblock %}





<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <img src="static/images/foo.png" alt="Image Placeholder" height="600" width="600">
    
  </body>
</html>