<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Relto and Trev's Spotify Stats">
    <title>Spotify Analysis By Relto and Trev</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <script src="app.js"></script>

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <header> 
        <!-- Top header for the title and any internal links -->
        <div id="top-header"> 

            <!-- If we want a photo or logo-->
            <div id="logo">
                <img src="static/images/spotify_logo.png" width="100" height="100"/>
            </div>
            <!-- Main header of the page-->
            <div id="main-header">
                <b>Spotify Data Analysis</b>
            </div>

            <!-- Internal links -->
            <nav>
                <div id="menu">
                    <ul>
                        <li><a href="/" target="_self"
                            rel="follow">Home</a></li>
                        <li><a href="/about_us" target="_self"
                            rel="follow">About Us</a></li>
                        <li><a href="/Your_Data" target="_self"
                            rel="follow">Your Data</a></li>
                        <li><a href="/Contact_Us" target="_self"
                            rel="follow">Contact Us</a></li>
                        <li><a href="/sign_out">Sign Out<a/>
                    </ul>
                </div>
            </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <footer id="footer">
        <!-- Copyright Section -->
        <div class="copyright">
            <p>© All rights reserved | ReltoTrevCodes</p>
 
        </div>

    </footer>
  </body>
</html>