<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Relto and Trev's Spotify Stats">
    <title>Music Analysis</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div id="loading-spinner">Loading...</div>
    <header> 
        <div id="top-header"> 

            <div id="main-header">
                <a href="/" target="_self" style="text-decoration:none; color: green;"><b>Music Data Analysis</b></a>
            </div>

            <!-- Internal links -->
            <nav>
                <div id="menu">
                    <ul>
                        <li><a href="/" target="_self"
                            rel="follow">Home</a></li>
                        <li><a href="/your_data" target="_self"
                            rel="follow">Your Data</a></li>
                        <li><a href="/about_us" target="_self"
                            rel="follow">About Us</a></li>
                        <li><a href="/sign_out">Sign Out<a/>
                    </ul>
                </div>
            </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <footer id="footer">
        <!-- Copyright Section -->
        <div class="copyright">
            <p>© All rights reserved | ReltoTrevCodes</p>
 
        </div>

    </footer>
  </body>
</html>