{% extends 'base.html' %}

{% block content %}
    <main>
        <section>
            <div id="intro">
                <h1 class="title">
                   Hi {{user_name}}!
                </h1>
                <p> 
                    Welcome!
                    Please browse the various buttons to
                    find out more about your music taste!
                    Not your account? Please sign out and sign back in.
                </p>

            </div>
        </section>

        <section>
            <nav>
                <div id="tabs">
                    <ul>
                        <li><a href="/top_artists" target="_self" rel="follow">Top Artists</a></li>
                        <li><a href="/top_tracks" target="_self" rel="follow">Top Tracks</a></li>
                        <!-- <li><a href="/top_genres" target="_self" rel="follow">Top Genres</a></li> -->
                        <li><a href="/top_genres_bar_chart" target="_self" rel="follow">Top Genres Bar Chart</a></li>
                        <!-- <li><a href="/top_years" target="_self" rel="follow">Top Years</a></li> -->
                        <li><a href="/top_years_bar_chart" target="_self" rel="follow">Top Years Bar Chart</a></li>
                        <li><a href="/most_recent_tracks" target="_self" rel="follow">Most Recent Tracks</a></li>
                        <!-- <li><a href="/audio_features" target="_self" rel="follow">Audio Features</a></li> -->
                        <li><a href="/audio_features_trend" target="_self" rel="follow">Audio Features Trend</a></li>
                        <li><a href="/recommendations" target="_self" rel="follow">Recommendations</a></li>
                        <li><a href="/popularity" target="_self" rel="follow">Popularity</a></li>
                    </ul>
                </div>
            </nav>


        </section>

        <section>
            <h1 id="summary_header">Your Summary Stats</h1>
            <div id="summary_stats">
                <ul id="outer_list">
                    <li>Most listened to artists:</li>
                    <ul id="inner_list">
                        <li>Short term: {{top_artist_s}}</li>
                        <li>Medium term: {{top_artist_m}}</li>
                        <li>Long term: {{top_artist_l}}</li>
                    </ul>
                    <li>Most listened to songs:</li>
                    <ul id="inner_list">
                        <li>Short term: {{top_track_s}}</li>
                        <li>Medium term: {{top_track_m}}</li>
                        <li>Long term: {{top_track_l}}</li>
                    </ul>
                    <li>Most listened to genres:</li>
                    <ul id="inner_list">
                        <li>Short term: {{top_genre_s}}</li>
                        <li>Medium term: {{top_genre_m}}</li>
                        <li>Long term: {{top_genre_l}}</li>
                    </ul>
                    <li>Most popular artists:</li>
                    <ul id="inner_list">
                        <li>Short term: {{top_popular_s}}</li>
                        <li>Medium term: {{top_popular_m}}</li>
                        <li>Long term: {{top_popular_l}}</li>
                    </ul>
                    <li>Most niche artist:</li>
                    <ul id="inner_list">
                        <li>Short term: {{niche_popular_s}}</li>
                        <li>Medium term: {{niche_popular_m}}</li>
                        <li>Long term: {{niche_popular_l}}</li>
                    </ul>
                    <li>Favorite year of music:</li>
                    <ul id="inner_list">
                        <li>Short term: {{top_year_s}}</li>
                        <li>Medium term: {{top_year_m}}</li>
                        <li>Long term: {{top_year_l}}</li>
                    </ul>
                </ul>
            </div>
        </section>

    </main>
{% endblock %}