{% extends 'base.html' %}

{% block content %}
    <main>
        <section>
            <div id="intro">
                <!-- Display heading content -->
                <h1 class="title">
                    Welcome to Relto and Trev's website for Spotify Analysis!
                </h1>

                <!-- Used to display paragraph content -->
                <p>Relto and Trev have spent countless hours working away at
                    deciphering stackoverflow queries to bring <i>you</i> this 
                    wonderful website. Please browse the various buttons to
                    find out more about your music taste! 
                </p>

            </div>
        </section>

        <section>
            <div id="welcome">
                <h3>Hi {{user_name}}!</h3>
            </div>
            <nav>
                <div id="tabs">
                    <ul>
                        <li><a href="/current_user" target="_self" rel="follow">Current User</a></li>
                        <li><a href="/currently_playing" target="_self" rel="follow">Currently Playing</a></li>
                        <li><a href="/most_recent_tracks" target="_self" rel="follow">Most Recent Tracks</a></li>
                        <li><a href="/top_artists" target="_self" rel="follow">Top Artists</a></li>
                        <li><a href="/top_tracks" target="_self" rel="follow">Top Tracks</a></li>
                        <li><a href="/top_genres" target="_self" rel="follow">Top Genres</a></li>
                        <li><a href="/audio_features" target="_self" rel="follow">Audio Features</a></li>
                        <li><a href="/recommendations" target="_self" rel="follow">Recommendations</a></li>
                        <li><a href="/popularity" target="_self" rel="follow">Popularity</a></li>
                    </ul>
                </div>
            </nav>


        </section>

        <section>
            <div id="table">
                <h3>{{dataEvent}}</h3>
                {% for table in tables %}
                        {{titles[loop.index]}}
                        {{ table|safe }}
                {% endfor %}
            </div>

        </section>

    </main>
{% endblock %}