<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Relto and Trev's Spotify Stats">
    <title>Sign in page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'sign_in.css') }}">

  </head>
  <body>
    <div class="container">
        <div id="'text">
            <p> 
                This music analysis website uses <b>Spotify</b>. <br>
                If you have a Spotify account, click <a href={{url}}>here</a>. <br> 
                If not, click <a href="/guest" target="_self">here</a>.
            </p>
        </div>
    </div>

  </body>
</html>