{% extends 'base.html' %}

{% block content %}
    <main>
        <section >
            <h1 class="title" style="font-size: 30px;">
                About You
            </h1>
            <img src={{profile_pic}} alt="Image Placeholder" style="padding: 10px;"/>
            <p style="text-align: center; padding-top: 15px; color: #ccc">
                Hi {{user_name}}! Here are some stats about your music library:
            </p>
            <div id="user_data">
                <ul>
                    <li> <b>Currently playing:</b> {{current_song}}</li>
                    <li> <b>Number of followers:</b> {{follower_count}}</li>
                    <li> <b>Number of playlists:</b> {{playlist_count}}</li>
                    <li> <b>Number of playlists you created:</b> {{owned_playlists}}</li>
                    <li> <b>Number of playlists Spotify created:</b> {{spot_playlists}}</li>
                    <li> <b>Number of playlists other users created:</b> {{other_user_playlists}}</li>
                    <li> <b>Number of collaborative playlists:</b> {{collaborative_playlists}}</li>
                    <li> <b>Number of public playlists:</b> {{public_playlists}} ({{percent}}% of total playlist count)</li>
                    <li> <b>Average length of playlists:</b> {{avg_track_count}} songs</li>
                    <li> <b>Shortest playlist:</b> {{short_playlist}} songs</li>
                    <li> <b>Longest playlist:</b> {{long_playlist}} songs</li>
                </ul>

            </div>
        </section>

    </main>
{% endblock %}